/* # Floating Button - Social Media # */
.socialButtons {
    position: fixed;
    right: 0.73vw;
    top: 7vh;
    width: 6vw;
}

.socialButtons a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

/* # Floating Button - Chat # */
.chatButton {
    position: fixed;
    top: 43vw;
    right: 16.73vw;
    width: 6vw;
}

.chatButton button {
    background-color: rgb(197, 232, 244);
    border: none;
    border-radius: 0.6vw;
    cursor: pointer;
    width: 21vw;
    height: 6.5vh;
}

.chatButton h2 {
    color: rgb(72, 106, 116);
    font-family: "Chelsea Market";
    font-size: 1.32vw;
    font-style: normal;
    font-weight: 400;
}