.containerFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(143, 211, 232);
    height: 26vh;
}

.footerSocialButtons {
    flex-basis: 30vw;
}

.footerText {
    color: rgb(255,255,255);
    font-family: "Proxima-N-W01-Reg";
    font-size: 1.10vw;
    font-style: normal;
    font-weight: 400;
}

.footerItem {
    padding-top: 11px;
}

.footerItem a {
    text-decoration: none; 
}

.footerContact {
    text-align: right;
    flex-basis: 30vw;
}
