/* # Information Section # */
.containerInfoFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;   
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 2vw;
    height: 15vh;
    width: 144vmin;
}

.infoText h2 {
    color: rgb(143, 211, 232);
    font-family: "Chelsea Market";
    font-size: 2.56vw;
    font-style: normal;
    font-weight: 400;
}

.infoText h6 {
    font-family: "Chelsea Market";
    font-size: 1.17vw;
    font-style: normal;
    font-weight: 400;
}

.infoText span {
    color: rgb(102,101,101);
    font-family: "Proxima-N-W01-Reg";
    font-size: 1.17vw;
    font-style: normal;
    font-weight: 400;
}